.header{
    display: flex;
    flex-direction: row;
    margin: 30px 90px;
    
}
.logo{
    color: rgb(155, 208, 255);
    font-family: 'Herr Von Muellerhoff', cursive;
    margin-right: auto;
}

.idiomas-flags{
    margin-top: 14px;
    margin-left: auto;
}