.idiomas{
    display: flex;
    flex-direction: raw;
    justify-content: flex-end;
}

.flag-icon{
    width: 25px;
    border-radius: 50px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 0.5s ease-in-out;
}

.flag-icon.active{
    filter: none;;
}