<div class="about-me">
    
    <img class="img-about-me" src="https://github.com/renatog17.png">
    <div class="texto">
        <p appIdiomaVisibilidade="pt">Sou um engenheiro de software qualificado, com uma sólida formação educacional e experiência técnica. Obtive meu diploma em Engenharia de Software pela Universidade Católica do Salvador e também sou diplomado em Técnico em Informática pelo Instituto Federal da Bahia.</p>
        <p appIdiomaVisibilidade="en">English</p>
        <p class="responsivo">Destaco-me como consultor de soluções customizadas, trabalhando full stack com Java no backend e Angular no frontend. Ao longo da minha jornada acadêmica e profissional, aprimorei minhas habilidades em diversas áreas, incluindo desenvolvimento de software, gerenciamento de bancos de dados e coordenação de projetos.</p>
        <p class="responsivo">Minha busca constante por inovação e excelência me levou a explorar a área de Data Science com entusiasmo. Aplico técnicas avançadas para análise e interpretação de dados, buscando insights valiosos para impulsionar o progresso e a eficiência em cada projeto em que estou envolvido.</p>
    </div>
</div>