.about-me{
    margin-top:140px ;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
}

.texto{
    margin-right: 210px;
}

.titulo{
    font-family: 'Roboto Mono Variable', monospace;
    font-size: 25px;
    color: var(--secundaria);
}

.descricao{
    color: rgb(155, 208, 255);
    font-size: 17px;
}

.img-about-me{
    width: 200px;
    height: 300px;
    margin-top: 60px;
    margin-right: 50px;
    border-radius: 5px;
    box-shadow: 10px 10px 0px rgba(0, 221, 255, 0.5);
    transition: box-shadow 0.3s ease;
}

.img-about-me:hover {
    box-shadow: 15px 15px 0px rgba(0, 221, 255, 0.8); /* Altera a sombra no hover */
}


p{
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: justify;
    line-height: 2em;
    font-size: 20px;
    color: var(--branco);
}

@media screen and (max-width:600px){
    .about-me{
        flex-direction: column;
        height: 350px;
        width: 350px;
        margin: 0px;
        align-items: center;
    }
    .img-about-me{
        height: 200px;
    }
    .texto{
        margin: 0px;
        align-items: center;
    }
    .responsivo{
        display: none;
    }
}