<div class="about-me">
    
    <div class="texto">
        <p class="titulo">00. About Me </p>
        <p class="descricao" appIdiomaVisibilidade="pt">Sou um engenheiro de software qualificado, com uma sólida formação educacional e experiência técnica. Obtive meu diploma em Engenharia de Software pela Universidade Católica do Salvador e também sou diplomado em Técnico em Informática pelo Instituto Federal da Bahia.</p>
        <p class="descricao" appIdiomaVisibilidade="en">I am an advanced software engineer with a solid educational background and technical experience. I obtained my degree in Software Engineering from the Catholic University of Salvador and I also have a degree in IT Technician from the Federal Institute of Bahia.</p>
    </div>

    <img class="img-about-me" src="https://github.com/renatog17.png">
</div>