<div class="card-project">
    <img class="img-project" src="https://github.com/renatog17.png">
    <p class="titulo" >Título</p>
    <p class="descricao" > Descrição em poucas palavras</p>
    <div class="tecnologias">
        <img class="tecnologia-icon" src="https://github.com/renatog17.png">
        <img class="tecnologia-icon" src="https://github.com/renatog17.png">
        <img class="tecnologia-icon" src="https://github.com/renatog17.png">
        <img class="tecnologia-icon" src="https://github.com/renatog17.png">
    </div>
</div>
