<div class="projects">
    <p class="titulo">01.Experience</p>
    <div class="cards-projects">
        
        <app-card-project 
            imagePath="../../assets/projetos/icone-elementos.png" 
            titulo="MiniGame Tabela Periódica" 
            descricao="Jogo feito em JavaScript para exercitar conhecimentos sobre a tabela períodica"
            linkDeploy="https://tabela-periodica-sigma.vercel.app/"
            linkGitHub="https://github.com/renatog17/tabela-periodica"
            [iconTecnologias] = "['../../assets/icones-tools/html-5.png', '../../assets/icones-tools/js.png']"   
        ></app-card-project>
        
    </div>
</div>