<div class="projects">
    <app-card-project 
        imagePath="../../assets/projetos/icone-elementos.png" 
        titulo="MiniGame Tabela Periódica" 
        descricao="Jogo feito em JavaScript para exercitar conhecimentos sobre a tabela períodica"
        link="https://tabela-periodica-sigma.vercel.app/"
        [iconTecnologias] = "['../../assets/icones-tools/html-5.png', '../../assets/icones-tools/js.png']"   
    ></app-card-project>
    <!--
    <app-card-project
        titulo="Todo List"
        descricao ="Classico ToDo List"
        [iconTecnologias] = "['../../assets/icones-tools/html-5.png', '../../assets/icones-tools/js.png']"   
    ></app-card-project>
    <app-card-project></app-card-project>
    <app-card-project></app-card-project>
    -->
</div>