/* You can add global styles to this file, and also import other style files */
@import '@fontsource/roboto';
@import '@fontsource/herr-von-muellerhoff';

:root{
    --cor-de-fundo:#06283D;
    --branco: white;
    --terciaria: #DFF6FF;
    --secundaria: #47B5FF;
    --primaria: #1363DF;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto';
}

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: var(--cor-de-fundo); /* Cor do track (fundo da barra de rolagem) */
}

::-webkit-scrollbar-thumb {
    background-color: #2a68ab; /* Cor da parte móvel da barra de rolagem */
    border-radius: 6px; /* Bordas arredondadas para o thumb */
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Cor do thumb quando em hover */
}
