
.home{
    height: 350px;
    margin-top:140px ;
    margin-left: 200px;
}
p{
    margin: 12px 0;
    font-size: 40px;
    color: var(--verde);
}
h1{
    margin: 12px 0;
    font-size: 60px;
    color: var(--branco);
}

a{
    text-decoration: none;
    color: inherit;
}

.buttons{
    margin: 19px 0;
    color: var(--branco);
    display: flex;
    text-align: center;
}

.button{
    padding: 8px;
    font-size: 22px;
    width: 170px;
    border: 1px solid var(--verde);
    border-radius: 3px;
    margin-right: 10px;
}

.button:hover{
    background-color: var(--verde);
}

#btn-primario{
    background-color: var(--verde);
}
@media screen and (max-width:600px) {
    .home{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-size: 40px;
    }
}