<div class="home">
    <p class="cumprimento" appIdiomaVisibilidade="en">Hi there, I'm</p>
    <p class="cumprimento" appIdiomaVisibilidade="pt">Olá! Eu sou</p>
    <h1 class="nome"> Renato Oliveira</h1>
    <p class="profissao" appIdiomaVisibilidade="en" >Software Engineer</p>
    <p class="profissao" appIdiomaVisibilidade="pt" >Engenheiro de Software</p>
    <p class="apresentacao" appIdiomaVisibilidade="en">
        I enjoy learning new skills and implementing them in real life!
    </p>
    <p class="apresentacao" appIdiomaVisibilidade="pt">
        Amo aprender novas habilidades e implementá-las em um software assim como na vida real!
    </p>
    <div class="buttons">
        <app-button-home idioma="en" linkText="Resume"></app-button-home>
        <app-button-home idioma="pt" linkText="Currículo"></app-button-home>
        <app-button-home idioma="en" linkText="About Me" ></app-button-home>
        <app-button-home idioma="pt" linkText="Sobre" ></app-button-home>
    </div>
    
</div>