<div class="home">
    <p class="cumprimento" appIdiomaVisibilidade="en">Hi there, I'm</p>
    <p class="cumprimento" appIdiomaVisibilidade="pt">Olá! Me chamo</p>
    <h1> Renato Oliveira</h1>
    <p class="profissao" appIdiomaVisibilidade="en" >Software Engineer</p>
    <p class="profissao" appIdiomaVisibilidade="pt" >Engenheiro de Software</p>
    <p class="apresentacao">
        I enjoy learning new skills and implementing them in real life!
    </p>
    <div class="buttons">
        <a id="btn-primario" class="button" href="" appIdiomaVisibilidade="en" >Resume</a>
        <a id="btn-primario" class="button" href="" appIdiomaVisibilidade="pt" >Currículo</a>
        <a id="btn-secundario" class="button" href="" appIdiomaVisibilidade="en">About Me</a>
        <a id="btn-secundario" class="button" href="" appIdiomaVisibilidade="pt">Sobre</a>
    </div>
    
</div>